:root 
{
    --themecolor: #c00000;
    --forground1: #b8b8b8;
    --forground1-hover: #919191;
    --forground2: #cacaca;
    --forground2-hover: #bebebe;
    --forground3: #d8d8d8;

    --boostColor: #0038ee;
    --setbackColor: black;
    --abilityColor: #12661d;
    --dificultyColor: #4e094e;
    --proficencyColor: #fbff00;
    --challengeColor: red;
}

textarea
{
    border-radius: 5pt;
    padding: 5pt;
}

.boostIcon
{
    position: relative;
    width: 6pt;
    height: 6pt;
    border-radius: 1pt;
    display: inline-block;
    background-color: var(--boostColor);
    z-index: 0;
    /* margin: 1pt; */
}

.setbackIcon
{
    position: relative;
    width: 6pt;
    height: 6pt;
    border-radius: 1pt;
    display: inline-block;
    background-color: var(--setbackColor);
    z-index: 0;
    /* margin: 1pt; */
}

/* width */
::-webkit-scrollbar 
{
    width: 10pt;

    border-top-left-radius : 0pt;
    border-bottom-left-radius : 0pt;

    border-top-right-radius : 100%;
    border-bottom-right-radius : 100%;
}
  
/* Track */
::-webkit-scrollbar-track 
{
    box-shadow: inset 0 0 5pt grey; 
    border-radius: 10pt;
}
   
/* Handle */
::-webkit-scrollbar-thumb 
{
    background: #5a5a5a; 
    border-radius: 10pt;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: #666666; 
}

body
{
    background-image: url("../images/starDestroyers.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
    overflow: auto;
    overflow-x: hidden;
    font-family: monospace;
}

.pagecontainer
{
    width: 10in;
    height: 9.6in;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #d8d8d8; */
}

#diceRoller
{
    border-radius: 35pt;
    
    background-color: var(--themecolor);
    box-shadow: 0pt 8pt 16pt 0pt #00000033;

    width: 35pt;
    height: 35pt;

    position: fixed;
    bottom: 10pt;
    left: 10pt;
    border: 1pt solid #00000000;

    background-image: url("../images/success-good.png");
    background-repeat: no-repeat;
    background-size: 23pt, 23pt;
    background-position: center;

    transition: 0.2s;
}

#diceRoller.active
{
    height: 278pt;
    background-image: none;
}

#diceRoller div
{
    display: none;
    background-color: var(--forground1);
    width: 31pt;
    height: 31pt;
    margin: 2pt;
    margin-bottom: 5pt;
    border-radius: 45pt;
    text-align: center;
    user-select: none;
}

#diceRoller.active div
{
    display: block;
    cursor: pointer;
}

#diceRoller div h1
{
    font-size: 28pt;
    margin: 0pt;
    padding: 0pt;
    top: -5pt;
    position: relative;
}

#diceRoller div h1.dimond
{
    font-size: 28pt;
    margin: 0pt;
    padding: 0pt;
    top: -2pt;
    position: relative;
}

#diceRoller div h1.square
{
    font-size: 28pt;
    margin: 0pt;
    padding: 0pt;
    top: -2.5pt;
    position: relative;
}

#diceRoller div b
{
    position: relative;
    bottom: 12pt;
    right: -10pt;
    border-radius: 10pt;
    width: 8pt;
    height: 8pt;
    background-color: var(--forground2);
    border: 0.5pt solid black;
    padding-left: 2pt;
    padding-right: 2pt;
}

#diceRoller div:hover
{
    background-color: var(--forground1-hover);
}

#diceRoller div h1.close
{
    position: relative;
    top: 2.8pt;
    color: var(--themecolor);
    font-size: 18pt;
    transition: 0.2s;
}

#diceRoller *.close.active
{
    width: 100pt !important;
    transition: 0.2s;
    font-weight: bold;
}
.diceResult
{
    position: fixed;
    width: 225pt;
    min-height: 70pt;
    padding: 5pt;
    /* bottom: 25pt;
    right: 25pt; */
    bottom: 25pt;
    right: -300pt;
    background-color: #f8f9fa;
    z-index: 2;
    border-radius: 10pt;
    border: 1pt solid var(--themecolor);
    box-shadow: 0pt 8pt 16pt 0pt #00000033;
    
    animation-name: animate-popin-right;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
}

.diceResult b, .diceResult p
{
    margin: 2pt;
}

.hidden
{
    display: none;
}
