:root 
{
    --themecolor: #c00000;
}
/* width */
::-webkit-scrollbar 
{
    width: 10px;

    border-top-left-radius : 0pt;
    border-bottom-left-radius : 0pt;

    border-top-right-radius : 100%;
    border-bottom-right-radius : 100%;
}
  
/* Track */
::-webkit-scrollbar-track 
{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb 
{
    background: #5a5a5a; 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: #666666; 
}

body
{
    background-image: url("../images/stars.png");
    background-attachment: fixed;
    overflow: auto;
    font-family: monospace;
}

p
{    
    white-space: pre;
}

.pagecontainer
{
    width: 10in;
    height: 11in;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #d8d8d8;
}

#rollPopup
{
    position: fixed;

    transform: translate(-50%, 0%);

    display: none;
    position: absolute;
    background-color: #a0a0a0;
    min-width: 95pt;
    box-shadow: 0pt 8pt 16pt 0pt #00000033;
    z-index: 1;
    text-align: left;
    padding: 5pt;
    border-radius: 5pt;

    border-style: solid;
    border-color: #dadada;
    border-width: 1pt;
}

#rollPopup option:hover, #rollPopup select:hover {background-color: #a5a5a5;}

/* #rollPopup option, #rollpopup select
{
    color: #330033;
    padding: 2pt;
    text-decoration: none !important;
    font-weight: bold;
    display: block;
    font-size: 10pt;
    border-radius: 5pt;

    width: 150pt;
    height: 12pt;

    background-color: #b8b3b3;
} */

#rollBtn
{
    background-color: #87a4f5;
    font-weight: bold;

    position: relative;
    width: 45pt;
    height: 25pt;

    border-radius: 5pt;

    border-style: solid;
    border-color: #6d6d6d;
    border-width: 1pt;
}
#rollBtn:hover
{
    background-color: #8db0d1;
}

#challenge, #setback, #boost
{
    width: 25pt !important;
}

label
{
    font-weight: bold;
}

label[for=dificulty]
{
    color: #330033;
}

label[for=challenge]
{
    color: red;
}

label[for=setback]
{
    color: black;
}

label[for=boost]
{
    color: #0038ee;
}

ul[class="skillsList"]
{
    list-style-type: none; /* Remove bullets */
    margin: 0pt;
    padding: 2pt;
    width: 250pt;
    border-radius: 5pt;

    background-color: #b8b8b8;
    margin: 5pt;    

    border-style: solid;
    border-color: #313131;
    border-width: 1pt;

    height: 500pt;
    overflow-y: scroll;
    box-shadow: 0pt 8pt 16pt 0pt #00000033;
}

ul[class="skillsList"] li
{
    padding: 2pt;
    border-radius: 5pt;
    background-color: #cacaca;
    margin: 8pt;

    border-style: solid;
    border-color: #7c7c7c;
    border-width: 1pt;

    cursor: pointer;
    white-space: pre;
}

ul[class="skillsList"] li:hover
{
    background-color: #acacac;
}

.tab 
{
    overflow: hidden;
    border: 1pt solid #ccc;
    background-color: none;
}
  
/* Style the buttons inside the tab */
.tab button 
{
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3pt;
    margin: 5pt;
    transition: 0.3s;
    font-size: 17px;

    border-bottom-style: solid;
    border-bottom-color: #00000000;
    border-bottom-width: 4pt;
    border-radius: 5pt;
}
  
/* Change background color of buttons on hover */
.tab button:hover 
{
    background-color: #ddd;
}
  
/* Create an active/current tablink class */
.tab button.active {
    /* background-color: #ccc; */
    border: none;
    border-bottom-style: solid;
    border-bottom-color: var(--themecolor);
    border-bottom-width: 4pt;
}
  
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6pt 12pt;
    border: 1pt solid #ccc;
    border-top: none;
}

.mainBox
{
    margin: 5pt;
    position: absolute;
    left: 270pt;
    top: 0pt;
}
